* {
  box-sizing: border-box;
  --white: white;
  --black: black;
  --sky: #abdee6;
  --title-color: #ffdae2;
  --title-shadow-color: #dfbfc4;
}
body {
  margin: 0;
}
.input_text {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px;
}
.title {
  background: linear-gradient(180deg, var(--sky) 75%, transparent 100%);
  color: var(--title-color, black);
  text-shadow: 6px 6px 10px var(--title-shadow-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 2;
  font-family: 'Dancing Script', cursive;
  transition: all 0.5s ease-in-out;
  cursor: default;
  position: relative;
}
.title > h1 {
  margin: 0;
  padding-bottom: 3.5rem;
  position: sticky;
  top: 0;
  font-size: 100px;
}
.layout {
  background-color: var(--white, white);
  color: var(--black, black);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10rem;
  row-gap: 5rem;
  min-height: 100vh;
  padding-top: 15rem;
  padding-bottom: 100rem;
}
.layout > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.validation_message {
  color: red;
}

.label_class {
  border-radius: 15px;
  border: 2px solid #6bc94d;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
.label_check_class {
  background-color: #6bc94d;
}

.radio_list_class {
  display: flex;
  align-items: center;
  justify-content: center;
}
