* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --white: white;
  --black: black;
  --background-color: #f0fafa;
  --sky: #abdee6;
  --title-color: #ffdae2;
  --title-shadow-color: #dfbfc4;
  --aside-color: #f3b0c3;
  --footer-color: #cbaacb;
}
body {
  margin: 0;
}
.input_text {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px;
}
.header {
  background: linear-gradient(
    180deg,
    var(--sky) 75%,
    var(--background-color) 100%
  );
  color: var(--title-color, black);
  text-shadow: 6px 6px 10px var(--title-shadow-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 2;
  font-family: 'Dancing Script', cursive;
  transition: all 0.5s ease-in-out;
  cursor: default;
  position: relative;
}
.header > h1 {
  margin: 0;
  padding-bottom: 3.5rem;
  position: sticky;
  top: 0;
  font-size: 100px;
}
.layout {
  background-color: var(--background-color, white);
  color: var(--black, black);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 10rem;
  position: relative;
}
.layout > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.aside {
  position: sticky;
  top: 3rem;
  width: 15rem;
  border-right: 2px solid var(--aside-color);
}
.aside > ul {
  list-style-type: none;
}
.aside > ul > li {
  height: 3rem;
}
.aside > ul > li > a {
  color: var(--black, black);
  text-decoration: none;
}
.components {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15rem;
  gap: 3rem;
}
.validation_message {
  color: red;
}

.label_class {
  border-radius: 15px;
  border: 2px solid #6bc94d;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
.label_check_class {
  background-color: #6bc94d;
}

.radio_list_class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 5rem;
  border-top: 1px solid var(--footer-color);
}
.github {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--footer-color);
}
