* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.input_text {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px;
}
.title {
  background-color: #3e3e3e;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title::after {
  content: '';
  background: linear-gradient(180deg, #3e3e3e 0%, #1a1a1a 100%);
  height: 3rem;
  width: 100%;
}
.layout {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10rem;
  row-gap: 5rem;
  min-height: 100vh;
}
.layout > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.validation_message {
  color: red;
}

.label_class {
  border-radius: 15px;
  border: 2px solid #6bc94d;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
.label_check_class {
  background-color: #6bc94d;
}

.radio_list_class {
  display: flex;
  align-items: center;
  justify-content: center;
}
